@model PizzaMvcUI.Models.CartVM
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h2 class="display-4">Your Cart</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
        }
    </tbody>
</table>

    <button class="btn-primary" style="text-align:center;">Checkout</button>

