@model PizzaData.Models.OrderHistoryVM
@{
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Order Time
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.orders != null)
        {
            @foreach (var order in Model.orders)
            {
                <tr>
                    <td>
                        @TimeZoneInfo.ConvertTimeFromUtc(order.OrderTime, TimeZoneInfo.Local);
                    </td>
                    <td>
                        @if (order.PreMadePizzaIds.Count > 0 || order.Pizzas.Count > 0)
                        {
                            <span>Pizzas</span><br />
                            @if (order.PreMadePizzaIds.Count > 0)
                            {
                                @foreach (var PreMadePizzaId in order.PreMadePizzaIds)
                                {
                    <span> - @Model.menu.PreMadePizzas.First(c => c.Id == PreMadePizzaId).Name: @Model.menu.PreMadePizzas.First(c => c.Id == PreMadePizzaId).Description</span><br />
                                }
                            }
                            @if (order.Pizzas.Count > 0)
                            {
                                @foreach (var pizza in order.Pizzas)
                                {
                                    <span> - Custom Pizza</span>
                                    <span> - Crust: @Model.menu.Crusts.First(c => c.Id == pizza.CrustTypesId).Name</span>
                                    <span> - Sauce: @Model.menu.Sauces.First(s => s.Id == pizza.SauceTypesId).Name</span>
                                    <span> - Cheese: @Model.menu.Cheeses.First(c => c.Id == pizza.CheeseTypesId).Name</span>
                                    @if (pizza.ToppingsId != null && pizza.ToppingsId.Count > 0)
                                    {
                                        <span> - Toppings: </span>
                                        @foreach (var toppingId in pizza.ToppingsId)
                                        {
                                            <span> @Model.menu.Toppings.First(t => t.Id == toppingId).Name, </span>
                                        }
                                    }
                                    <br />
                                }
                            }
                        }
                        @if (order.SidesIds != null && order.SidesIds.Count > 0)
                        {
                            <span>Sides</span><br />
                            @foreach (var sideId in order.SidesIds)
                            {
                                <span> - @Model.menu.Sides.First(c => c.Id == sideId).Name</span><br />
                            }
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td></td><td>No Orders Yet</td></tr>
        }

    </tbody>
</table>
